
.nav { 
    margin-top: 0px;
}
.container-detail-right{ 
    margin: 50px;
    font-size: 13px;
    font-family: poppins;
}

.hotel-name { 
    margin-left: 50px;
}

.img-detail-container { 
    height: 30vh;
}

.imgimg { 
    height: 30vh;
}

.detail-container { 

    display: inline-block;
    height: 500px;
    width: 600px;
    margin-top: 100px;
}

.nav-select:hover { 
    text-decoration: underline;
}

.b:hover{ 
    background-color: green;
}

.btn-reserv { 
   margin-left: 210px;
   color: black;
   background-color: lightblue;
   width: 20vh;
}

.btn-reserv:hover { 
    background-color: black;
    color: lightblue;
}