#off {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 85vh;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
  }
  
  @media (max-width: 768px) {
    .offcanvas {
      height: 80vh;
      width: 90vw;
      max-width: none;
      max-height: none;
    }
  }
  
  @media (max-width: 576px) {
    .offcanvas {
      height: 90vh;
      width: 90vw;
      max-width: none;
      max-height: none;
    }
  }