.div-btns { 
  
  margin-left: 100px;
  width: 80%;
}

.btn-sections { 
  margin-top: 50px;
  margin-left: 220px;
  height: 45px;
  font-size: 18px;
  background-color: #EEF1EF;
  color: black;
}

.btn-sections:hover { 
  background-color: rgb(244, 237, 239);
  color: black;
}

.img-btn { 
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.container-sections { 
  background-color: #ECF0F1;
}

.text-container { 
  font-family: Poppins;
  margin-top: 80px;
  
  margin-left: 100px;
  width: 80%;
}

.text-happy { 
  margin-left: 30px;
}