

* { 

  font-family: Poppins;
  box-sizing: border-box;
  outline: none;
}

.app { 

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ECF0F1;
  background-image: linear-gradient(to bottom, #f2f2f2, #d7d4d4);
  
}